# Functions Advanced

# Built In functions in python

In [1]:
print("Hi all welcome to advance Ppthon class")

Hi all welcome to advance Ppthon class

In [2]:
print(4*5)

20

In [6]:
a=[1,2,3,4]
len(a)

4

In [7]:
sum(a)

10

# User define Function

In [8]:
def add(a,b):
    """
    This function takes two numbers as input and provides addition as output
    """
    c=a+b
    return c

In [9]:
add(3,4)

7

In [11]:
d=add(1.5,7.3)
d

8.8

_main_current file which you are working in

# Type Hinting in Python

In [12]:
a=23
type(a)

int

In [13]:
isinstance("Example",str)

True

In [14]:
isinstance(23,float)

False

In [15]:
isinstance(23.5,(int,float))

True

In [18]:
def mul(x: float|int, y: float|int) -> float|int:
    """
    This function provides multiplication of two number
    """
    assert isinstance(x,(int,float)),"Expected x to be integer or float"
    assert isinstance(y,(int,float)),"Expected y to be integer or float"
    z=x*y
    return z

In [19]:
mul(10,20)

200

In [20]:
mul(2.4,12)

28.799999999999997

In [21]:
mul("a",23)

AssertionError: Expected x to be integer or float

In [22]:
add(2,3)

5

In [23]:
add(2,3,4)

TypeError: add() takes 2 positional arguments but 3 were given

In [24]:
# Argument
add(3,4)

7

In [25]:
#keyword arguments
add(a=23, b=34)

57

# Argument in Python
* args- act like a tuple in python

In [26]:
def function(*args):
    print(f"Argument:{args}")
    print(f"Type:{type(args)}")
    for i in args:
        print(i)

In [27]:
function("Mayur",32)

Argument:('Mayur', 32)
Type:<class 'tuple'>
Mayur
32

In [28]:
function("Adv Python",True,34,23.5,[1,2,3])

Argument:('Adv Python', True, 34, 23.5, [1, 2, 3])
Type:<class 'tuple'>
Adv Python
True
34
23.5
[1, 2, 3]

# Upacking a list as argument in python

In [29]:
a=[12,"Raman",True,13.5]
type(a)

list

In [30]:
function(*a)

Argument:(12, 'Raman', True, 13.5)
Type:<class 'tuple'>
12
Raman
True
13.5

# Add multiple numbers

In [31]:
def add_multiple(*args):
    # Initialize sum to 0
    s=0
    # Apply for loop on arguments
    for i in args:
        s=s+i # s +=i
    # Return value of s outside for loop
    return s

In [32]:
add_multiple(1,2)

3

In [33]:
add_multiple(1,4,7,9,11)

32

In [34]:
add_multiple(5,7.5,11.3)

23.8

In [36]:
g=add_multiple(1,2,3,4,5,6,7)
g

28

In [42]:
num=list(range(1,100))
print(num)
add_multiple(*num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

4950

# Create billing function which takes price, qty as tuple inputs and provides final bill as output, apply tax rate of some percent
[("Laptop", 35000, 2), (name, price, qty),...]

In [45]:
def billing(*args,tax_rate=18):
    # Initialize the bill before tax and calculate
    bill_before_tax=0
    for name,price,qty in args:
        subtotal=price*qty
        print(f"Product name:{name},Price:{price}INR,Qty:{qty},subtotal : {subtotal}")
        bill_before_tax += subtotal
    # calculate tax
    tax=(tax_rate/100)*bill_before_tax
    # Calulate final amount
    bill_after_tax = bill_before_tax + tax
    # Print the values
    print (f"Amount before tax : {bill_before_tax} INR")
    print(f"Tax with{tax_rate} % :{tax} INR")
    print(f"Amount after tax:{bill_after_tax}INR")
    return bill_after_tax

In [46]:
bill1= billing(("Mobile",30000,1 ),("Screen Guard",1000,2))

Product name:Mobile,Price:30000INR,Qty:1,subtotal : 30000
Product name:Screen Guard,Price:1000INR,Qty:2,subtotal : 2000
Amount before tax : 32000 INR
Tax with18 % :5760.0 INR
Amount after tax:37760.0INR

In [47]:
bill1

37760.0

In [48]:
bill2=billing(
    ("Laptop", 37000, 2),
    ("Mouse", 500, 2),
    ("Keyboard", 600, 1),
    ("Bag", 1200, 2),
    tax_rate = 28
)

Product name:Laptop,Price:37000INR,Qty:2,subtotal : 74000
Product name:Mouse,Price:500INR,Qty:2,subtotal : 1000
Product name:Keyboard,Price:600INR,Qty:1,subtotal : 600
Product name:Bag,Price:1200INR,Qty:2,subtotal : 2400
Amount before tax : 78000 INR
Tax with28 % :21840.000000000004 INR
Amount after tax:99840.0INR

In [49]:
bill2

99840.0

In [50]:
p = [("Usb Drive", 500, 2),("Hardrive", 5000, 1)]

In [51]:
billing(*p,tax_rate=10)

Product name:Usb Drive,Price:500INR,Qty:2,subtotal : 1000
Product name:Hardrive,Price:5000INR,Qty:1,subtotal : 5000
Amount before tax : 6000 INR
Tax with10 % :600.0 INR
Amount after tax:6600.0INR

6600.0