# Decorators

**kwargs in python

1.a = 23 - int (any number without decimal)
2.b = 45.7 - float (any number with decimal)
3.c = "example" - str (contains characters, numbers and symbol)
4.d = True / False - Boolean
5.e = [1, 2, 3, False, "Example"] - list (list define by square bracket)
6.f = (4, 5.6, True, "Example") - tuple 
7.g = {key1: value1, key2: value2, ...} - dict
8.h = {value1, value2, value3, ...} - set will store only unique values

**kwargs - acts like a dictionary

In [3]:
a={
    "name": "Mayur",
    "age": 28,
    "Salary": 15000
}
type(a)

dict

In [5]:
a.keys()

dict_keys(['name', 'age', 'Salary'])

In [6]:
a.values()

dict_values(['Mayur', 28, 15000])

In [7]:
a.items()

dict_items([('name', 'Mayur'), ('age', 28), ('Salary', 15000)])

In [8]:
for key,values in a.items():
    print(f"{key} : {values}")

name : Mayur
age : 28
Salary : 15000

In [9]:
def function(**kwargs):
    print(kwargs)
    print(type(kwargs))
    for key, value in kwargs.items():
        print(f"{key} : {value}")

In [10]:
function(name="Sarthak", age=23)

{'name': 'Sarthak', 'age': 23}
<class 'dict'>
name : Sarthak
age : 23

In [11]:
function(emp_id=101, name="Aditi", dept="HR", married=True)

{'emp_id': 101, 'name': 'Aditi', 'dept': 'HR', 'married': True}
<class 'dict'>
emp_id : 101
name : Aditi
dept : HR
married : True

# Example consider a restauraunt menu, condier menu is provided with taxes included in a dictionary

In [12]:
menu = {
    "burger": 120,
    "sandwich": 80,
    "fries": 60,
    "pasta": 200,
    "pizza": 300
}

In [13]:
menu.get("burger")

120

In [15]:
print(menu.get("maggie")) # for unavalaible items it gives "None"

None

hotel_bill(table_no=1, burgers=3, sandwich=2, fries=1)

In [20]:
def hotel_bill(table_no, **kwargs):
    # Print table number
    print(f"Table number - {table_no}")
    # Intialize total amount to 0
    amt = 0
    # Apply for loop on kwargs
    for food, qty in kwargs.items():
        price = menu.get(food)
        if price is not None:
            subtotal = price*qty
            amt += subtotal
        print(f"Food item - {food}, qty- {qty}, price - {price} INR, subtotal - {subtotal} INR")
    # Show the final bill
    print(f"Final Bill is : {amt} INR")
    return amt

In [21]:
c1 = hotel_bill(
    table_no=1,
    burger=1,
    fries=2
)

Table number - 1
Food item - burger, qty- 1, price - 120 INR, subtotal - 120 INR
Food item - fries, qty- 2, price - 60 INR, subtotal - 120 INR
Final Bill is : 240 INR

In [22]:
c1

240

In [23]:
c2 = hotel_bill(
    table_no=2,
    sandwich = 4,
    pizza = 1,
    fries = 5
)

Table number - 2
Food item - sandwich, qty- 4, price - 80 INR, subtotal - 320 INR
Food item - pizza, qty- 1, price - 300 INR, subtotal - 300 INR
Food item - fries, qty- 5, price - 60 INR, subtotal - 300 INR
Final Bill is : 920 INR

In [24]:
c2

920

# Write a decorator which will welcome user , print function results and thank the user

In [25]:
def welcome(func):
    def wrapper(*args, **kwargs):
        print("Hi Welcome to my function")
        res = func(*args, **kwargs)
        print(f"Function Results : {res}")
        print("Thank you")
        return res
    return wrapper

In [26]:
@welcome
def simple_interst(p, n, r):
    I = (p*n*r)/100
    A = p + I
    return I, A

In [27]:
p1 = simple_interst(10000, 5, 7.1)

Hi Welcome to my function
Function Results : (3550.0, 13550.0)
Thank you

In [28]:
p1

(3550.0, 13550.0)

$ c^2 = a^2 + b^2 $

$ c = sqrt(a^2 + b^2) $

In [29]:
4**2

16

In [30]:
9**2

81

In [31]:
25**(1/2)

5.0

In [32]:
64**(1/2)

8.0

In [33]:
@welcome
def hypotenuse(a, b):
    c=(a**2 + b**2)**(1/2)
    return c

In [34]:
h1 = hypotenuse(a=3, b=4)

Hi Welcome to my function
Function Results : 5.0
Thank you

In [35]:
h1

5.0

In [36]:
h2 = hypotenuse(4, 7.1)

Hi Welcome to my function
Function Results : 8.149233092751734
Thank you

In [37]:
h2

8.149233092751734